@font-face {
    font-family: "typewriter";
    src: url(TypewriterSerial\ Regular.ttf);
}

@font-face {
    font-family: "poppins";
    src: url(Poppins-Regular.ttf);
}

body {
    margin: auto;
}

.menu-homepage {
    display: flex;
}

.menu-homepage a {
    text-decoration: none;
    color: white;
}

.social-media {
    position: absolute;
    bottom: 830px;
    left: 1180px;
    background-color: transparent;
    color: gray;
    font-size: large;
    display: flex;
    gap: 30px;
}


.social-media i {
    border: solid 1px rgb(216, 212, 212);
    border-radius: 50%;
    width: 100%;
    padding: 20%;
    color: rgb(204, 206, 206);
}

.social-media i:hover {
    border: solid 1px rgb(248, 246, 246);
    border-radius: 50%;
    width: 100%;
    padding: 20%;
    color: white;
}


.navigation {
    font-family: "poppins";
    border-radius: 50px;
    font-size: medium;
    margin-left: 30%;
    margin-top: -7%;
    background-color: rgb(8, 8, 8);
    width: 37%;
    padding: 1%;
    word-spacing: 15px;
    position: fixed;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    color: gray;
}

.navigation a:visited {
    background-color: gray;
}

.hamburger {
    background-color: transparent;
    color: rgb(109, 107, 107);
    padding: 16px;
    font-size: 16px;
    border: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 250px;
    line-height: 0%;
    bottom: 50px;
    z-index: 1;
    font-size: small;
}

.menu-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-content a:hover {
    color: gray;
}

.hamburger-menu:hover .menu-content {
    display: block;
}

.hamburger-menu:hover .hamburger {
    background-color: white;
    color: gray;
    border-radius: 50%;
}

hr {
    color: gray;
}

#reservation {
    border: none;
    border-radius: 50px;
    font-size: medium;
    width: 130px;
    height: 50px;
    background-color: gray;
}

#reservation:hover {
    background-color: white;
}

#reservation:hover {
    transition: rotateY(180deg);
}


.navigation span {
    position: absolute;
    left: 169%;
    bottom: 15%;
    width: 8%;
    height: 70%;
    color: white;
    background-color: black;
    border-radius: 50%;
    font-size: 35px;
    border: 1px solid gray;
}

.navigation span i {
    position: absolute;
    left: 25%;
    top: 20%;
}

.navigation span:hover {
    background-color: #353434;
}

.openning-hours {
    position: relative;
    display: inline-block;
}

.openning-hours-content {
    display: none;
    position: absolute;
    bottom: 35px;
    background-color: white;
    color: black;
    min-width: 250px;
    border-radius: 20px;
    font-size: small;
}

.openning-hours-content p {
    display: block;
    font-size: larger;
    padding-left: 7%;
}

.openning-hours-content h1 {
    display: block;
    margin-left: 7%;
}

.openning-hours button {
    border: none;
    padding: 10px;
    color: gray;
    background-color: transparent;
}

.openning-hours button:hover {
    background-color: white;
    color: gray;
    border-radius: 50%;
}

.openning-hours:hover .openning-hours-content {
    display: block;
}

.kitisuru {
    background: linear-gradient(rgba(17, 18, 18, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65c34fee7c31fcb2f8c3700b_001-p-2000.jpg);
    height: 100vh;
    color: white;
    width: 50%;
    text-align: center;
}

.branches {
    margin-top: 45%;
    line-height: 0%;
}

.kilimani {
    background-image: linear-gradient(rgba(17, 18, 18, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65e5a29a2a2b1c4a493fff75_ankolegrill_Kilimani-Nights.jpg);
    width: 50%;
    color: white;
    text-align: center;
}

#ankole-logo {
    margin-top: 5%;
    position: absolute;
    left: 44.5%;
}

#ankole-logo img {
    width: 55%;
}

.red-text {
    font-family: "typewriter";
    color: #D35400;
    font-size: xx-large;
}

.heading {
    font-size: 60px;
    font-weight: bold;
}




@media only screen and (max-width:430px){
    
    @font-face {
        font-family: "typewriter";
        src: url(TypewriterSerial\ Regular.ttf);
    }
    
    @font-face {
        font-family: "poppins";
        src: url(Poppins-Regular.ttf);
    }
    
    body {
        margin: auto;
    }
    
    .menu-homepage {
        display: flex;
        flex-direction: column;
    }
    
    .menu-homepage a {
        text-decoration: none;
        color: white;
    }
    
    .social-media {
        position: absolute;
        bottom: 930px;
        left: 240px;
        background-color: transparent;
        color: gray;
        font-size: large;
        display: flex;
        flex-direction: column;
    }
    
    
    .social-media i {
        border: solid 1px rgb(216, 212, 212);
        border-radius: 50%;
        width: 100%;
        padding: 20%;
        color: rgb(204, 206, 206);
    }
    
    .social-media i:hover {
        border: solid 1px rgb(248, 246, 246);
        border-radius: 50%;
        width: 100%;
        padding: 20%;
        color: white;
    }
    .navigation {
        font-family: "poppins";
        border-radius: 50px;
        font-size: medium;
        margin-top: -20%;
        margin-left: 25%;
        background-color: rgb(8, 8, 8);
        width: 55vw;
        padding: 5px;
        word-spacing: 4px;
    }

    .navigation a:not(:first-child, #amenu, #areviews, #aevents, #acontacts, #alive) {
        display: none;
    }

    .navigation hr:not(:first-child, :nth-child(6),:nth-child(4),:nth-child(8),:nth-child(12),:nth-child(16)){
        display: none;
    }
    .navigation a {
        text-decoration: none;
        color: white;
    }
    
    .navigation a:hover {
        color: gray;
    }
    
    .navigation a:visited {
        background-color: gray;
    }
    
    .hamburger {
        background-color: transparent;
        color: rgb(109, 107, 107);
        padding: 16px;
        font-size: 16px;
        border: none;
    }
    
    .hamburger-menu {
        position: relative;
        display: inline-block;
    }
    
    .menu-content {
        display: none;
        position: absolute;
        background-color: black;
        min-width: 250px;
        line-height: 0%;
        bottom: 80px;
        z-index: 1;
        font-size: small;
    }
    
    .menu-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .menu-content a:hover {
        color: gray;
    }
    
    .hamburger-menu:hover .menu-content {
        display: block;
    }
    
    .hamburger-menu:hover .hamburger {
        background-color: white;
        color: gray;
        border-radius: 50%;
    }
    
    hr {
        color: gray;
    }
    
    #reservation {
        border: none;
        border-radius: 50px;
        font-size: medium;
        width: 130px;
        height: 50px;
        background-color: gray;
    }
    
    #reservation:hover {
        background-color: white;
    }
    
    #reservation:hover {
        transition: rotateY(180deg);
    }
    
    
    .navigation span {
        position: absolute;
        left: 169%;
        bottom: 15%;
        width: 8%;
        height: 70%;
        color: white;
        background-color: black;
        border-radius: 50%;
        font-size: 35px;
        border: 1px solid gray;
    }
    
    .navigation span i {
        position: absolute;
        left: 25%;
        top: 20%;
    }
    
    .navigation span:hover {
        background-color: #353434;
    }
    
    .openning-hours {
        position: relative;
        display: inline-block;
    }
    
    .openning-hours-content {
        display: none;
        position: absolute;
        bottom: 65px;
        line-height: 15px;
        background-color: rgb(20, 20, 20);
        color: rgb(235, 230, 230);
        min-width: 210px;
        border-radius: 20px;
        font-size: smaller;
    }

    
    .openning-hours-content p {
        display: block;
        font-size: larger;
        padding-left: 7%;
    }
    
    .openning-hours-content h1 {
        display: block;
        margin-left: 7%;
    }
    
    .openning-hours button {
        border: none;
        padding: 10px;
        color: gray;
        background-color: transparent;
    }
    
    .openning-hours button:hover {
        background-color: white;
        color: gray;
        border-radius: 50%;
    }
    
    .openning-hours:hover .openning-hours-content {
        display: block;
    }
    
    .kitisuru {
        background: linear-gradient(rgba(17, 18, 18, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65c34fee7c31fcb2f8c3700b_001-p-2000.jpg);
        background-size: cover;
        height: 50vh;
        color: white;
        width: 100%;
        text-align: center;
    }
    
    .branches {
        margin-top: 55%;
        line-height: 0%;
    }
    
    .kilimani {
        background-image: linear-gradient(rgba(17, 18, 18, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65e5a29a2a2b1c4a493fff75_ankolegrill_Kilimani-Nights.jpg);
        background-size: cover;
        width: 100%;
        height: 50vh;
        color: white;
        text-align: center;
    }
    
    #ankole-logo {
        margin-top: 15%;
        position: absolute;
        left: 35%;
    }
    
    #ankole-logo img {
        width: 50%;
    }
    
    .red-text {
        font-family: "typewriter";
        color: #D35400;
        font-size: large;
    }
    
    .heading {
        font-size: 40px;
        font-weight: bold;
    }
}