@font-face {
    font-family: "typewriter";
    src: url(TypewriterSerial\ Regular.ttf);
}

@font-face {
    font-family: "poppins";
    src: url(Poppins-Regular.ttf);
}

body {
    overflow: hidden;
    margin: auto;
    font-family: "typewriter";
}

.reviews {
    background-color: black;
    color: white;
    text-align: center;
    height: 100vh;
    padding: 5%;
}

.ankiLogo-icon img {
    width: 13%;
}

.feedback {
    margin: 1% 30%;
    width: 40%;
    padding: 1%;
}

.feedback h1 {
    margin-top: 5%;
}

#quote {
    font-size: 50px;
    color: #D35400;
}

.feedback .fa-solid {
    position: absolute;
}

.fa-less-than {
    left: 27%;
    top: 55%
}

.fa-greater-than {
    right: 27%;
    top: 57%;
}

.fa-quote-left {
    left: 30%;
    top: 47%;
}

.fa-quote-right {
    right: 27%;
    top: 65%;
}

.allReview {
    display: none;
}

.allReview.active {
    display: block;
}

.reviews button {
    border: none;
    background-color: transparent;
    color: rgb(95, 93, 93);
    font-size: xx-large;
}

.social-media {
    position: absolute;
    bottom: 900px;
    left: 1730px;
    background-color: transparent;
    color: gray;
    font-size: large;
    display: flex;
    gap: 30px;
}


.social-media i {
    border: solid 1px rgb(216, 212, 212);
    border-radius: 50%;
    width: 100%;
    padding: 20%;
    color: rgb(204, 206, 206);
}

.social-media i:hover {
    border: solid 1px rgb(248, 246, 246);
    border-radius: 50%;
    width: 100%;
    padding: 20%;
    color: white;
}

.navigation {
    text-align: left;
    font-family: "poppins";
    border-radius: 50px;
    font-size: medium;
    margin-left: 30%;
    margin-top: 8%;
    background-color: rgb(8, 8, 8);
    width: 42%;
    padding: 1%;
    word-spacing: 15px;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    color: gray;
}

.navigation a:visited {
    background-color: gray;
}
.hamburger {
    background-color: transparent;
    color: rgb(109, 107, 107);
    border: none;
    height: 40px;
    width: 40px;
}

.hamburger i {
    font-size: medium;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 250px;
    line-height: 0%;
    bottom: 50px;
    z-index: 1;
    font-size: small;
}

.menu-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-content a:hover {
    color: gray;
}

.hamburger-menu:hover .menu-content {
    display: block;
}

.hamburger-menu:hover .hamburger {
    background-color: white;
    color: gray;
    border-radius: 50%;
}

hr {
    color: gray;
}

#reservation {
    border: none;
    border-radius: 50px;
    font-size: medium;
    width: 130px;
    height: 50px;
    background-color: gray;
}

#reservation:hover {
    background-color: white;
}

#reservation:hover {
    transition: rotateY(180deg);
}

.navigation span i {
    position: absolute;
    right: 5%;
    border-radius: 50%;
    font-size: 30px;
    padding: 0.7%;
    border: solid 1px;
}

.navigation span:hover {
    background-color: #353434;
}

.openning-hours {
    position: relative;
    display: inline-block;
}

.openning-hours-content {
    display: none;
    position: absolute;
    bottom: 35px;
    background-color: white;
    color: black;
    min-width: 250px;
    border-radius: 20px;
    font-size: small;
}

.openning-hours-content p {
    display: block;
    font-size: larger;
    padding-left: 7%;
}

.openning-hours-content h1 {
    display: block;
    margin-left: 7%;
}

.openning-hours button {
    border: none;
    padding: 10px;
    color: gray;
    font-size: medium;
    background-color: transparent;
}

.openning-hours button:hover {
    background-color: white;
    color: gray;
    border-radius: 50%;
}

.openning-hours:hover .openning-hours-content {
    display: block;
}



@media only screen and (max-width:430px) {
    
    @font-face {
        font-family: "typewriter";
        src: url(TypewriterSerial\ Regular.ttf);
    }
    
    @font-face {
        font-family: "poppins";
        src: url(Poppins-Regular.ttf);
    }
    
    body {
        overflow: hidden;
        margin: auto;
        font-family: "typewriter";
    }
    
    .reviews {
        background-color: black;
        color: white;
        text-align: center;
        height: 100vh;
        padding: 5%;
        font-size: 12px;
    }
    
    .ankiLogo-icon img {
        width: 45%;
    }
    
    .feedback {
        margin:25% 3%;
        width: 90%;
        padding: 1%;
        line-height: 20px;
        text-align: center;
    }
    
    .feedback h1 {
        margin-top: 5%;
    }
    
    #quote {
        font-size: 30px;
        color: #D35400;
    }
    
    .feedback .fa-solid {
        position: absolute;
    }
    
    .fa-less-than {
        left: 2%;
        top: 45%;
    }
    
    .fa-greater-than {
        right: 2%;
        top: 45%;
    }
    
    .fa-quote-left {
        left: 3%;
        top: 37%;
    }
    
    .fa-quote-right {
        right: 7%;
        top: 58%;
    }
    
    .allReview {
        display: none;
    }
    
    .allReview.active {
        display: block;
    }
    
    .reviews button {
        border: none;
        background-color: transparent;
        color: rgb(95, 93, 93);
        font-size: xx-large;
    }
    
      
    .social-media {
        position: absolute;
        bottom: 849px;
        left: 380px;
    }
    
    
    .social-media i {
        border: solid 1px rgb(216, 212, 212);
        border-radius: 50%;
        width: 100%;
        padding: 20%;
        color: rgb(204, 206, 206);
    }
    
    
    .social-media i:hover {
        border: solid 1px rgb(248, 246, 246);
        border-radius: 50%;
        width: 100%;
        padding: 20%;
        color: white;
    }
    
    .navigation {
        font-family: "poppins";
        border-radius: 50px;
        font-size: medium;
        margin-top: 40%;
        margin-left: 20%;
        background-color: rgb(8, 8, 8);
        width: 55vw;
        padding: 5px;
        word-spacing: 4px;
    }

    .navigation a:not(:first-child, #amenu, #areviews, #aevents, #acontacts, #alive) {
        display: none;
    }

    .navigation hr:not(:first-child, :nth-child(6),:nth-child(4),:nth-child(8),:nth-child(12),:nth-child(16)){
        display: none;
    }
    
    .navigation a {
        text-decoration: none;
        color: white;
    }
    
    .navigation a:hover {
        color: gray;
    }
    
    .navigation a:visited {
        background-color: gray;
    }
    
    .hamburger {
        background-color: transparent;
        color: rgb(109, 107, 107);
        height: 30px;
        width: 30px;
        border: none;
     
    }
    
    .hamburger i {
        position: absolute;
        top: 6px;
        left: 9px;
        font-size: medium;
    }
    
    .hamburger-menu {
        position: relative;
        display: inline-block;
    }
    
    .menu-content {
        display: none;
        position: absolute;
        background-color: black;
        min-width: 250px;
        line-height: 0%;
        bottom: 50px;
        z-index: 1;
        font-size: small;
    }
    
    .menu-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .menu-content a:hover {
        color: gray;
    }
    
    .hamburger-menu:hover .menu-content {
        display: block;
    }
    
    .hamburger-menu:hover .hamburger {
        background-color: white;
        color: gray;
        border-radius: 50%;
    }
    
    hr {
        color: gray;
    }
    
    #reservation {
        border: none;
        border-radius: 50px;
        font-size: medium;
        width: 130px;
        height: 50px;
        background-color: gray;
    }
    
    #reservation:hover {
        background-color: white;
    }
    
    #reservation:hover {
        transition: rotateY(180deg);
    }
    
    .navigation span {
        position: absolute;
        left: 69%;
        bottom: 15%;
        border-radius: 50%;
       padding: 5%;
       width: 30px;

    }
    
    .navigation span i {
        position: absolute;
        left: 55%;
        top: 20%;
        font-size:30px;
    }
    
    .navigation span:hover {
        background-color: #353434;
    }
    
    .openning-hours {
        position: relative;
        display: inline-block;
    }
    
    .openning-hours-content {
        display: none;
        position: absolute;
        bottom: 65px;
        line-height: 15px;
        background-color: rgb(20, 20, 20);
        color: rgb(235, 230, 230);
        min-width: 210px;
        border-radius: 20px;
        font-size: 10px;
    }

    
    .openning-hours-content p {
        display: block;
        font-size: larger;
        padding-left: 7%;
    }
    
    .openning-hours-content h1 {
        display: block;
        margin-left: 7%;
    }
    
    .openning-hours button {
        border: none;
        padding: 10px;
        color: gray;
        font-size: medium;
        background-color: transparent;
    }
    
    .openning-hours button:hover {
        background-color: white;
        color: gray;
        border-radius: 50%;
    }
    
    .openning-hours:hover .openning-hours-content {
        display: block;
    }
}